* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  

body {
    background:#D0D0C6;
    color: #3D220F;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

a {
    color: #3D220F;
    text-decoration: none;
    display: inline-block;
}


.canvas {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.page {
    position: relative;
    z-index: 1;
}

.container {
    width: 75%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 1440px;
}

.logo {
    font-family: 'Sharp Grotesk', sans-serif;
    text-align: center;
}

.tagline {
    font-size: 3em;
    font-family: 'Mars Extended', sans-serif;
    font-weight: 400;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

.tagline .word {
    background: yellow;
}

ul {
    list-style: none;
}

h4 {
    font-family: 'Sharp Grotesk', sans-serif;
    font-size: 0.8em;
    padding-bottom: 1em;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2em;
}

.social {
    display: flex;
    justify-content: space-between;
}

li > ul li + li,
li > div li + li {
    padding-top: 0.5em;
}

::selection {
    background: yellow;
} 

@media only screen and (max-width: 1024px) {
    .container,
    .tagline {
        width: 90%;
    }
}

@media only screen and (max-width: 600px) {
    .content {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .container,
    .tagline {
        width: 90%;
    }

    .social {
        align-items: flex-end;
    }
}


@keyframes rotateWord {
    0% {
      opacity: 0;
    }
    2% {
      opacity: 0;
      -webkit-transform: translateY(-25px);
              transform: translateY(-25px);
    }
    5% {
      opacity: 1;
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
    13% {
      opacity: 1;
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
    16% {
      opacity: 0;
      -webkit-transform: translateY(25px);
              transform: translateY(25px);
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
}
  

@font-face {
    font-family: 'Sharp Grotesk';
    src: url(2.otf);
    font-weight:400;
}

@font-face {
    font-family: 'Mars';
    src: url(1.woff);
    font-weight:400;
}